* {
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
 
}
header img{
    width: 1000px;
}


html {
    background-image: url("https://cdn.wallpapersafari.com/13/35/NbMw8f.jpg");
    background-size: cover;
}

#menuprincipal h2{
    text-align: center;
}

#menuprincipal {
    display: flex;
    justify-content: center;
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: #9FC8D9;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}
#menuprincipal > div {
    flex: 1;
    max-width: 960px;
}
#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#menuprincipal li:hover {
    background-color: #6FACC6;
}
#menuprincipal a {
    font: bold 20px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}

#tabla{
    padding: 15px 300px;
    
}

#contenido{
    align-content: stretch;

}

article h1{
    text-align: center;
}
h3{
    text-align: center;
}

#introduccion {
    flex: 1 1 600px;
    border-color: rgb(233, 226, 226);
    border-style:double;
    border-width: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(233, 226, 226);
}

#formain{
    text-align: center;
    margin-left: 40%;
    margin-right: 30%;
    padding-bottom: 30px;
    border-color: rgb(56, 56, 56);
    border-style:groove;    
}

input{
    margin-bottom: 30px;
}

#infoextra{
    width: 280px;
    padding: 20px;
    background-color: #E7F1F5;
    border-radius: 10px;    
}
#infoextra li {
    margin-top: 30px;
}

footer{
    text-align: center;
    background-color: rgba(53, 173, 243, 0.637);
    
}

footer img{
    text-align: right;
    margin-top: 10px;
}

#cajapadre{
    display: flex;

    
}
#infomain{
    width: 80%;
}
#imagen1{
    width: 50%;
    padding-right: 200px;
    padding-left: 200px;
    
}
#imagen1 td{
    padding-right: 60px;
    padding-top: 50px;
}
#imagen2{
   width: 50%;
}
#imagen2 td{
    padding-right: 60px;
    padding-top: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#registro{
      margin-left: 40%;
      border: #094660; 

      
     
}
#registro table{
     border-color: rgb(4, 24, 24);
}

#contacto{
    margin-left: 40%;   
    }

 